<h2 style="margin-top: 2rem; padding: .5rem;">Product Form</h2>
<form action="/products" method="post" style="padding: 0 .5rem .5rem .5rem;">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Price" name="price">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Stock(yes/no)" name="inStock">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-dark">Add Product</button>
        </div>
    </div>
</form>