<h1>Product Form</h1>
<form action="/products" method="post">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Price" name="price">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Stock(yes/no)" name="inStock">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-dark">Add Product</button>
        </div>
        <script src="../../server.js"></script>
    </div>
</form>