<h2>Products</h2>
<div class="entry">
    <% if (products[0].length != 0) { %>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < products[0].length; i++) { %>
                    <tr>
                        <td><%= products[0][i].id %></td>
                        <td><%= products[0][i].name %></td>
                        <td><%= products[0][i].price %></td>
                        <td><%= products[0][i].inStock %></td>
                    </tr>
                <% }; %>
            </tbody>
        </table>
    <% } else { %>
        <h4> Empty list. Add products to see. </h4>
    <% } %>
</div>