<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <title>EJS Project</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <main class="container">
            <% if (display) { %>
                <%- include('../partials/form.ejs') %>
            <% } else { %>
                <%- include('../partials/productList.ejs') %>
            <% } %>
            <%- include('../partials/chats.ejs') %>
        </main>
    </body>
</html>